<!DOCTYPE html>
<html lang="en">
<head>
 {% load staticfiles %}
 <title>Question</title>
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <link rel="stylesheet" href="../../static/lapis/bootstrap/css/bootstrap.css">
 <link rel="stylesheet" type="text/css" href="../../static/lapis/style.css" />
 <script src="../../static/lapis/jquery-1.12.4.js"></script>
 <script src="../../static/lapis/bootstrap/js/bootstrap.js"></script>
</head>
<body>
  <div class="container">
    <div class="row" id="header">

    </div>
    <div class="row">

<h1>{{ question.question_text }}</h1>

<div class="mainbody">

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'lapis:vote' question.id %}" method="post">
{% csrf_token %}
{% for choice in question.choice_set.all %}
    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br />
{% endfor %}
<br>
<input type="submit" value="Vote" />
</form>
</div>

    </div>
   </div>
</body>
</html>

