body {
    background-color:  #577492;
}
.mainbody {
    background-color: #D4D8D1;
	width: 60%;
}
a:hover {
	color: #B74934;
}
body,div,div,div,h1{
        text-align: "center";
}
ul {
   font-size: 160%;
}
ul.bigfont > li > a{
   color: #332c2F;
}
hl {
   font-size: 120%;
}
div.content > h1 {
   color: #D4D8D1;
}
h2 {
   color: #D4D8D1;
}
input[type="input"] {
        align: "center"; 
}
input[type="label"]{
   color: #332c2F;
   font-size: 160%;

}
